<p>Editar Transferências</p>

<div class="container">
  <div class="col">
    <form action="">
      <div class="mb-1">
        <label for="form-label">Nome do cliente</label>
        <!-- [(ngModel)]="tarefa.descricao" é uma diretiva -->
        <input
          [(ngModel)]="transferencia.nomeCliente"
          type="text"
          class="form-control"
          name="nomeCliente"
          placeholder="Nome do Cliente"
        />
      </div>
      <!-- nomeCliente -->

      <div class="mb-1">
        <label for="form-label">Valor da transação</label>
        <input
          [(ngModel)]="transferencia.valor"
          type="text"
          class="form-control"
          name="valor"
          placeholder="Valor da transacao"
        />
      </div>
      <!-- valor -->

      <div class="mb-1">
        <label for="form-label">Conta cliente</label>
        <input
          [(ngModel)]="transferencia.contaCliente"
          type="text"
          class="form-control"
          name="contaCliente"
          placeholder="conta Cliente"
        />
      </div>
      <!-- contaCliente-->

      <div class="mt-5">
        <button (click)="modificarTransferencia()" class="btn btn-primary">
          Modificar
        </button>
      </div>
      <!-- botao -->
    </form>
  </div>
  <!-- col -->
</div>
<!-- container -->
